@model IEnumerable<Data.Models.Product>

@{
    ViewBag.Title = "Danh sách sản phẩm";
}

<div class="row">
    <div class="col-lg-12">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2 class="pull-left"><b>Quản lý sản phẩm</b></h2>
                <div class="navbar-form navbar-right" role="search" id="formsearch">

                    <div class="form-group">
                        <a href="/Products/Create" title="Tạo mới sản phẩm" class="btn btn-success pull-right">
                            <i class="fa fa-plus fa-lg"></i> Tạo mới sản phẩm
                        </a>
                    </div>
                </div>
            </header>
            <div class="main-box-body clearfix">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table user-list table-hover" id="manage_video">
                            <thead>
                                <tr>
                                    <th><span>Mã SP</span></th>
                                    <th><span>Tên</span></th>
                                    <th><span>Lô</span></th>
                                    <th><span>Nam/Nữ</span></th>
                                    <th><span>Số lượng</span></th>
                                    <th><span>Loại SP</span></th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody id="tbodytvc">
                                @foreach (var item in Model)
                                {
                                    <tr id="item_@item.ProductId">
                                        <td>
                                            @item.ProductId
                                        </td>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            @item.Lot
                                        </td>
                                        <td>
                                            @(item.Gender==0?"Nam":"Nữ")
                                        </td>
                                        <td>
                                            @item.Quantity
                                        </td>
                                        <td>
                                            @(item.ProductType!=null?item.ProductType.Name:"")
                                        </td>
                                        <td>
                                            <a href="/Products/Edit/@item.ProductId" class="table-link gray" title="Chỉnh sửa">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="/Products/Details/@item.ProductId" class="table-link" title="Thống kê">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-tasks fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="/Products/Delete/@item.ProductId" class="table-link danger" title="Xóa" data-toggle="modal" data-target="#deleteVideoModal"
                                               data-ajax="true"
                                               data-ajax-complete=""
                                               data-ajax-mode="replace"
                                               data-ajax-update="#deleteVideoContent">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="deleteVideoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="deleteVideoContent">

        </div>
    </div>
</div>

@section Scripts{
    <script>

        function OnDeleteSuccess(data) {
            if (data.success == true) {
                $("#deleteVideoModal").modal("hide");
                $("#deleteVideoModal").empty();
                $("#item_" + data.id).remove();
            }
            else {
                alert(data.error);
            }
        }

    </script>

}